
<header class="flex items-center pt-6 w-[1120px] text-base">
  <div class="flex flex-1">
    <img
      class="rounded-full h-12 w-12"
      src="logo.png"
      alt="Logo"
    />
    
  </div>
  <nav class="flex gap-x-6 opacity-95 flex-1 justify-center">
    <a class="text-slate-300 hover:text-fuchsia-500 ease-in-out transition duration-200" href="#top">Inicio</a>
    <a class="text-slate-300 hover:text-fuchsia-500 ease-in-out transition duration-200" href="#experience">Experiencia</a>
    <a class="text-slate-300 hover:text-fuchsia-500 ease-in-out transition duration-200" href="#proyect">Proyectos</a>
    <a class="text-slate-300 hover:text-fuchsia-500 ease-in-out transition duration-200" href="#contact">Contacto</a>
  </nav>
  <nav class="flex gap-x-2 flex-1 justify-end opacity-70">
    <a href="">Hola</a>
    <a href="">Hola</a>
    <a href="">Hola</a>
  </nav>

</header>