---
const { link, text } = Astro.props as { link: string; text: string };
---
<a 
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class="flex items-center text-sm text-blue-600 dark:text-amber-300 hover:underline"
>
  {text}
  <svg
    class="w-3 h-3"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M14 3h7m0 0v7m0-7L10 14"
    />
  </svg>
</a>