---
import Layout from '../components/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import '../styles/global.css';
import Experience from '../components/Experience.astro';
import Project from '../components/Project.astro'
---

<Layout title="Portafolio | Samuel Mendez ">
  <main>
    <!-- Hero ocupa toda la pantalla -->
    <SectionContainer class="h-screen flex flex-col justify-center">
      <div class="-mt-20">
				<h1 class="text-white text-4xl font-bold flex flex-row gap-x-4">
        Hola, soy <span class="text-fuchsia-700">Samuel</span>
				</h1>
				<h2 class="text-zinc-400 text-wrap my-3 w-3/4">
					Estudiante de <span class="text-cyan-400">Ingeniería en Informática</span> y <span class="text-cyan-400">Desarrollador Web</span> en formación. De <span class="text-amber-500 opacity-70">Buenos Aires, Argentina</span>. Me apasiona transformar ideas en proyectos digitales funcionales, modernos y con impacto.
				</h2>
			</div>

      <!-- Flecha centrada abajo -->
			<div class="absolute bottom-6 left-1/2 transform -translate-x-1/2 flex flex-col items-center">
				<span class="text-sm text-white opacity-70">Desliza hacia abajo</span>
				<svg class="w-8 h-8 animate-pulse text-fuchsia-700" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
				</svg>
			</div>
		</SectionContainer>

    <!-- Aparece solo al hacer scroll -->
    <SectionContainer id="experience" class="pb-3">
      <h2 class="text-white text-2xl font-bold flex flex-row gap-x-4 pb-6">
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>

		<SectionContainer>
			<h2 class="text-white text-2xl justify-center -ml-40 item-center font-bold flex flex-row gap-x-4 pb-6">
				Proyectos
			</h2>
			
			<Project />
			
		</SectionContainer>
  </main>
</Layout>
