---
import Layout from '../components/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import '../styles/global.css';
import Experience from '../components/Experience.astro';
import Project from '../components/Project.astro';
---

<Layout title="Portafolio | Samuel Mendez">
  <main class="top-20">
    <SectionContainer class="h-screen flex flex-col justify-center sm:ml-10 lg:ml-40">
      <div class="">
				<h1 class="text-white text-4xl font-bold flex flex-row gap-x-4">
        Hola, soy <span class="text-fuchsia-700">Samuel</span>
				</h1>
				<h2 class="text-zinc-400 text-wrap my-3 w-3/4">
					Estudiante de <span class="text-cyan-400">Ingeniería en Informática</span> y <span class="text-cyan-400">Desarrollador Web</span> en formación. De <span class="text-amber-500 opacity-70">Buenos Aires, Argentina</span>. Me apasiona transformar ideas en proyectos digitales funcionales, modernos y con impacto.
				</h2>
			</div>

			<div class="absolute bottom-6 left-1/2 transform -translate-x-1/2 flex flex-col items-center">
				<span class="text-sm text-white opacity-70">Desliza hacia abajo</span>
				<svg class="w-8 h-8 animate-pulse text-fuchsia-700" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
				</svg>
			</div>
		</SectionContainer>

    <SectionContainer id="experience" class="pb-3 lg:ml-40">
      <h2 class="text-white text-2xl font-bold flex-row gap-x-4 pb-6">
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>

		<SectionContainer id="proyect" class="py-11 mx-auto justify-center items-center">
			<h2 class="text-white text-2xl font-bold gap-x-4 pb-8">
				Proyectos
			</h2>
			<Project />
		</SectionContainer >

		<SectionContainer id="about" class="pb-11 mx-auto flex flex-coljustify-center items-center">
			<h2 class="text-white text-2xl font-bold gap-x-4 pb-8">
				Sobre mi
			</h2>

			<div class="grid grid-cols-2">
				
			</div>

		</SectionContainer>

  </main>
</Layout>
